nav {
    background-color: rgba(19, 21, 25, 0.8);
    border-right: 2px solid transparent;
    height: calc(100% - 22px);
    left: 8px;
    position: fixed;
    top: 10px;
    z-index: 999;
    overflow: hidden;
    transition: width 300ms ease;
    &.open {
        width: 120px;
        border-color:rgba(64, 181, 229, 0.6);
    }
    a {
        border-bottom: 1px solid #393D40;
        color: rgba(255, 255, 255, 0.8);
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        font-size: 0.8em;
        font-family: sans-serif;
        height: 120px;
        justify-content: center;
        position: relative;
        text-align: center;
        text-decoration: none;
        width: 120px;
        svg {
            display: inline-block;
            margin: 0 auto;
            width: 24px;
            height: 24px;
            fill: rgba(255, 255, 255, 0.8);
        }
        &.home svg{
          width:90%;
          height: auto;
        }
        .thin-line, .thick-line{
            fill:none;
            stroke: rgba(255, 255, 255, 0.8);
            stroke-miterlimit:10;
        }
        .thin-line{
            stroke-width:2;
        }
        .thick-line{
            stroke-width:4;
        }
        &.active {
            color: #131519;
            background-color: rgba(255, 255, 255, 0.6);
            svg {
                fill: #131519;
            }
            .thin-line, .thick-line{                
                stroke: rgba(255, 255, 255, 0.8);                
            }
        }
    }
    
}
.toggle-nav {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    width: 30px;
    height: 16px;
    position: absolute;
    top:15px;
    left:12px;
    
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);

    -webkit-transition: .5s ease-in-out;
       -moz-transition: .5s ease-in-out;
         -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
    
    z-index: 9999;
    &:focus{
        outline:none;
    }
    span {
        background-color: rgb(64, 181, 229);
        border-radius: 9px;
        display: block;
        height: 3px;
        left: 0;
        opacity: 1;
        position: absolute;
        width: 100%;
        
        -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
        
        -webkit-transition: .25s ease-in-out;
           -moz-transition: .25s ease-in-out;
             -o-transition: .25s ease-in-out;
                transition: .25s ease-in-out;
        
        &:nth-child(1) {
            top: 0px;
        }
        &:nth-child(2),
        &:nth-child(3) {
            top: 8px;
        }
        &:nth-child(4) {
            top: 16px;
        }
    }
   
    &.open {
        span {
            background-color: rgb(64, 181, 229);
            &:nth-child(1) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
            &:nth-child(2) {
                -webkit-transform: rotate(45deg);
                   -moz-transform: rotate(45deg);
                     -o-transform: rotate(45deg);
                        transform: rotate(45deg);
            }
            &:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                   -moz-transform: rotate(-45deg);
                     -o-transform: rotate(-45deg);
                        transform: rotate(-45deg);
            }
            &:nth-child(4) {
              top: 18px;
              width: 0%;
              left: 50%;
            }
        }
    }
}