#resume {
    color: #fff;
    .container {
        max-width: 1200px;
        margin: auto;
    }
    .resumeIcon {
        width: 52px;
        height: 50px;
        margin: 20px auto 5px auto;
    }
    .objectiveIcon {
        background: url(/images/icons.png) -55px 0;
    }
    .experienceIcon {
        background: url(/images/icons.png) -158px 0;
    }
    .recreationIcon {
        margin-top: 60px;
        background: url(/images/icons.png) -2px 0;
    }
    .skillsIcon {
        background: url(/images/icons.png) -210px 0;
    }
    .educationIcon {
        margin-top: 180px;
        background: url(/images/icons.png) -106px 0;
    }
    h3{
        text-align: center;
        font-size:1.5em ;
    }
    .feelGood {
        float: right;
        position: relative;
        top: -12px;
        font-size: 50px;
        line-height: 18px;
        color: #2790ba;
        font-family: serif;
    }
    .toGo {
        float: right;
        position: relative;
        top: -12px;
        font-size: 50px;
        line-height: 18px;
        color: #c3c3c3;
        font-family: serif;
    }
    .recreationImg {
        width: 80%;
        margin-left: 60px;
        margin-top: 20px;
    }
    .avatar {
        width: 120px;
        margin: auto;
    }
   
    .bg-hr{
        width: 250px;
        font-size: 52px;
        margin:auto;
    }
    .objective {
        margin: 0 0 80px 0;
        text-align: center;
        h2 {
            font-weight: 600px;
            font-size: 2.5em;
        }
        h3 {
            color:#fff;
            font-size: 1.5em;
            font-weight: 100;
            position: relative;
            z-index: 5;
            
                
            &:before, &:after{
                content:"";
                width:150%;
                position: absolute;
                left: 50%;                
                height:1px;
                transform: translate(-50%, -50%);
                background-color:#2790ba;
                z-index: -1;
            }
            &:before{
                top: calc(50% - 2px);
            }
            &:after{
                top: calc(50% + 2px);
            }
            
        }
    }
    .download {
        text-align: center;
        margin: 10px 0 80px 0;
        .btn {
            color: #14212a;
            border-color: #14212a;
            &:hover {
                color: #2b495d;
                border-color: #2b495d;
            }
        }
    }
}