$z-blue:#40B5E5;


/* Gallery */

#gallery {
    position: relative;
    &.active{
      .card{
        margin-top:0;
        opacity: 1;
        transition:all 300ms ease;        
      }
    }
    .grid{
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      height:100%;
      overflow: auto;
    }
    @for $i from 1 to 10 {
      .card:nth-child(#{$i}) { transition-delay: $i  * 100 + 600ms; }
    }
    .card{
      width:calc(50% - 20px);
      position: relative;
      min-width:200px;
      margin:10px;
      margin-top:50%;
      opacity: 0;
      transition:all 300ms ease;
      color:#000;
      @media(max-width: 1080px){
          margin-top:0;
          opacity: 1;
      }
      *{
        box-sizing: border-box;
      }
      @media(max-width:768px){
        width:100%;
      }
      .card-body{
        position: relative;
        overflow: hidden;
      }
      .card-description{
        background-color: rgba(255,255,255,0.95);
        position: absolute;
        top:100%;
        left:0;
        width:100%;
        height: 100%;
        opacity: 0;
        padding:30px 15px;
        transition: all 300ms ease;
        text-align:center;
      }
      &:hover{
        .card-description{
          opacity: 1;
          top:0;
        }
      }
      img{
        max-width: 100%;
        width:100%;
      }
      a{
        text-decoration: none;
      }
      .card-header{
        color:#fff;
      }
    }

}
